
@{
    ViewData["Title"] = "kelimeb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="price-sec py-5">


    <h2 align="middle"> <font color="#ff753a"> Günlük konuşma dilinde kullanılan kelimeler</font> </h2>
    <p>&nbsp;</p>
    <div class="container py-xl-5 py-lg-3">

        <div class="inner_sec_info_w3_info mt-3">
            <div class="row price-grid-main">
                <div class="col-lg-3 col-sm-6 price-info">
                    <div class="prices p-4">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>안녕하세요</h4>
                            </div>
                            <ul class="mt-4">
                                <li>MERHABA</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres-2">
                    <div class="prices p-4 active">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>잘</h4>
                            </div>
                            <ul class="mt-4">
                                <li>İYİ</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres">
                    <div class="prices p-4">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>네</h4>
                            </div>
                            <ul class="mt-4">
                                <li>EVET/TAMAM</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres">
                    <div class="prices p-4 active">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4> 뭐 ?</h4>
                            </div>
                            <ul class="mt-4">
                                <li>NE?</li>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container py-xl-5 py-lg-3">

        <div class="inner_sec_info_w3_info mt-3">
            <div class="row price-grid-main">
                <div class="col-lg-3 col-sm-6 price-info">
                    <div class="prices p-4">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>내일</h4>
                            </div>
                            <ul class="mt-4">
                                <li>YARIN</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres-2">
                    <div class="prices p-4 active">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>오늘</h4>
                            </div>
                            <ul class="mt-4">
                                <li>BUGÜN</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres">
                    <div class="prices p-4">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>진짜요?</h4>
                            </div>
                            <ul class="mt-4">
                                <li>GERÇEKTEN Mİ?</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres">
                    <div class="prices p-4 active">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>지금</h4>
                            </div>
                            <ul class="mt-4">
                                <li>ŞİMDİ</li>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container py-xl-5 py-lg-3">

        <div class="inner_sec_info_w3_info mt-3">
            <div class="row price-grid-main">
                <div class="col-lg-3 col-sm-6 price-info">
                    <div class="prices p-4">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>이따 봐요</h4>
                            </div>
                            <ul class="mt-4">
                                <li>GÖRÜŞÜRÜZ</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres-2">
                    <div class="prices p-4 active">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>좋은 하루 되세요</h4>
                            </div>
                            <ul class="mt-4">
                                <li>İYİ GÜNLER</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres">
                    <div class="prices p-4">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>어제</h4>
                            </div>
                            <ul class="mt-4">
                                <li>DÜN</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  price-info price-mkres">
                    <div class="prices p-4 active">
                        <div class="prices-top">
                            <h3 class="text-center text-wh rounded-circle"><img src="~/images/shape4.png" /></h3>
                        </div>
                        <div class="prices-bottom text-center">
                            <div class="prices-h border-bottom p-4">
                                <p> &nbsp;</p>
                                <h4>아니요</h4>
                            </div>
                            <ul class="mt-4">
                                <li>HAYIR</li>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

