@using Microsoft.AspNetCore.Identity
@inject SignInManager<kruser> SignInManager
@inject UserManager<kruser> UserManager

    <nav>
        <label for="drop" class="toggle"></label>
        <input type="checkbox" id="drop" />
        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
            <li class="nav-item">
                <img src="~/images/login_icon.png" height="70" width="90" align="left"  />
                <a class="nav-link text-dark"  title="Manage" align="right"><font color="#ff9f2b" >HOSGELDIN </font>  @User.Identity.Name!</a>
            </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <button type="submit" class="btn btn-outline-warning" > CIKIS </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item" >
                    <a class="btn btn-outline-info btn-sm" asp-area="Identity" asp-page="/Account/Register">>KAYIT OL &nbsp;</a>
                </li>

             

                <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-sm" asp-area="Identity" asp-page="/Account/Login">>GIRIS YAP</a>
                </li>
            }
        </ul>
    </nav>
  