@model IEnumerable<korean.Models.comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contact py-5" id="contact">
    <h2 align="middle"><font color="#a02c64">DERS YORUMLARI</font></h2>
    <p>&nbsp;</p>
    <div class="container pb-xl-5 pb-lg-3">
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            KULLANICI ADI
                        </th>
                        <th>
                            YORUM
                        </th>
                        <th>
                            TARİH/SAAT
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>