@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="banner_w3lspvt position-relative">
    <div class="container">
        <div class="d-md-flex">
            <div class="w3ls_banner_txt">
                <h3 class="w3ls_pvt-title"><font size="8">Korece Öğrenelim!</font> <br><span><font size="12">한국어를 배우자!</font></span></h3>
                <p class="text-sty-banner">
                    Küçük adımlar halinde, eğlenceli ve verimli şekilde Korece dersleri.
                </p>
                <a asp-controller="Comments" asp-action="alph" class="btn button-style mt-md-5 mt-4">Başlayalım!</a>
            </div>
            <div class="banner-img">
                <img src="~/images/anasayf.png" alt="" class="img-fluid" width="600" height="1000">
            </div>
        </div>
    </div>
    <!-- animations effects -->
    <div class="icon-effects-w3l">
        <img src="images/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
        <img src="images/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
        <img src="images/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
        <img src="images/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
        <img src="images/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
        <img src="images/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
    </div>
    <!-- //animations effects -->
</div>
<!-- //banner -->
    </div>
<!-- //main banner -->
<!-- what we do section -->
<div class="what bg-li py-4" id="what">
    <div class="container py-xl-4 py-lg-2">
        <div class="row about-bottom-w3l text-center mt-4">
            <div class="col-lg-4 about-grid">
                <div class="about-grid-main">
                    <img src="~/images/h.jpg" alt="" class="img-fluid" width="150" height="150">
                    <h4 class="my-4">Alfabe</h4>
                    <p> Kore Alfabesindeki harfler</p>
                    <a asp-controller="Comments" asp-action="alph" class="button-w3ls btn mt-sm-5 mt-4">Çalış</a>
                </div>
            </div>
            <div class="col-lg-4 about-grid my-lg-0 my-5">
                <div class="about-grid-main">
                    <img src="~/images/boy.png" alt="" class="img-fluid" width="150" height="150">
                    <h4 class="my-4">Günlük konuşma</h4>
                    <p>Açıklama2</p>
                    <a asp-controller="Comments" asp-action="gn"  class="button-w3ls btn mt-sm-5 mt-4">Çalış</a>
                </div>
            </div>
            <div class="col-lg-4 about-grid">
                <div class="about-grid-main">
                    <img src="~/images/flag.png" alt="" class="img-fluid" width="150" height="150">
                    <h4 class="my-4">Ülkeler & Diller</h4>
                    <p>Açıklama3</p>
                    <a asp-controller="Comments" asp-action="language"  class="button-w3ls btn mt-sm-5 mt-4">Çalış</a>
                </div>
            </div>
            
                </div>
            </div>
        </div>

<!-- //what we do section -->
<!-- middle -->

<!-- //middle -->
<!-- services -->

<!-- //services -->
<!-- stats -->
<section class="bottom-count py-5" id="stats">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-4 left-img-w3ls">
                <img src="~/images/harita.png" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-7 right-img-w3ls pl-lg-4 mt-lg-2 mt-4">
                <div class="bott-w3ls mr-xl-5">
                    <h3 class="title-w3 text-bl mb-3 font-weight-bold">Neden Korece Öğrenmeliyiz?</h3>
                    <p class="title-sub-2 mb-3">
                        Korece dünyada en yaygın olarak konuşulan diller arasında 17. sıradadır. 80 Milyon kişinin ana dili Korece'dir. Ayrıca Güney kore 13. en büyük ekonomiye sahip ülkedir. Kore Alfabesi Hangıl öğrenmesi kolay ve eğlencelidir ve Korece Türkçe ile aynı dil ailesinde yer alır. 
                   
                    </p>
                </div>
                <div class="row mt-5">



                    <div class="col-sm-4 count-w3ls">
                        <h4>80 milyon</h4>
                        <p>Kişi</p>
                    </div>

                    <div class="col-sm-2 count-w3ls">
                        <img src="~/images/t2.jpg" alt="" class="img-fluid" width="80" height="80">
                    </div>
                    <div class="col-sm-2 count-w3ls">
                        <img src="~/images/t1.jpg" alt="" class="img-fluid" width="80" height="80">
                    </div>
                    <div class="col-sm-2 count-w3ls">
                        <img src="~/images/t3.jpg" alt="" class="img-fluid" width="80" height="80">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- partners -->
<section class="partners py-5" id="partners">
    <div class="container py-4 py-lg-3">
      
        <div class="row grid-part text-center pt-4">
            <div class="col-md-2 col-4">
                <div class="parts-w3ls">


                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="parts-w3ls">
                    <img src="~/images/kak.jpg" alt="" class="img-fluid" width="80" height="80">

                </div>
            </div>
            <div class="col-md-2 col-4 mt-md-0 mt-4">
                <div class="parts-w3ls">
                    <img src="~/images/kaaa.jpg" alt="" class="img-fluid" width="80" height="80">

                </div>
            </div>
            <div class="col-md-2 col-4 mt-md-0 mt-4">
                <div class="parts-w3ls">
                    <img src="~/images/kka.jpg" alt="" class="img-fluid" width="80" height="80">

                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="parts-w3ls">
                    <img src="~/images/aaa.jpg" alt="" class="img-fluid" width="80" height="80">

                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="parts-w3ls">


                </div>
            </div>
        </div>
        </div>
    
</section>
<!-- //partners -->
<!-- footer -->

 
<!-- //footer -->
<!-- copyright bottom -->
